# Synology
@eaDir/

# Docker (ajuste selon le projet)
.env
docker-data/
data/
logs/
*.log
cache/

# --- Synology & Docker ---
.DS_Store
# -------------------------
threadfin_config/cache/log/
_logs/
_archives/
*.tmp
threadfin_config/
xmltv/
