# Synology
@eaDir/

# Docker (ajuste selon le projet)
.env
docker-data/
data/
logs/
*.log
cache/

# --- Synology & Docker ---
.DS_Store
# -------------------------
threadfin_config/cache/log/
_logs/
_archives/
*.tmp
threadfin_config/
xmltv/
*.bak
.env.*
*.env
.envrc
!.env.example
!.env.sample
*.pem
*.key
*.p12
*.pfx
*.secret
secrets/
certs/
docker-compose.override.yml
threadfin_config/data/X19AGYDBNCLIUBAQUEK1.xml
xmltv/guide.xml
xmltv/.nfs.200d7487.6c63
